node_modules
.git
.dockerignore
Dockerfile
*.md
.env.local
.env.development.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
build
.vscode
.idea
*.log
.DS_Store
Thumbs.db

